    body {
        margin: 0px;
        background: linear-gradient(rgb(147, 252, 199), rgb(121, 121, 235));
        background-repeat: no-repeat;
        height: 768px;
    }
    /* text allignment */
    
    h1,
    h2,
    h3,
    p {
        text-align: center;
    }
    /* .middle-section {
    margin-left: 33.33%;
} */
    
    .middle-section {
        margin-left: 20%;
        margin-right: 20%;
    }
    
    #text-area,
    #translation-output {
        width: 100%;
        height: 125px;
        background-color: white;
    }
    
    .convert-btn {
        width: 150px;
        height: 35px;
        padding: 10px;
    }
    
    .footer-section {
        padding-left: 100px;
        padding-right: 100px;
    }